<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Trainer Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style2.css}"/>

    <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <link rel="icon" type="image/ico" th:href="@{../../static/zingymfavicon.ico}">

</head>


<body>

<header>
    <div class="mid">
        <ul class="navbar">
            <li> <a href="#trainer trainer-class-section" class="active">CLASSES</a></li>
            <li> <a href="#trainer bookclass-class-section">BOOKINGS</a></li>
        </ul>
    </div>

    <div class="left">
        <p>
            Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
            <span sec:authentication="principal.authorities"></span>
        </p>
    </div>

    <div class="right">
        <form th:action="@{/trainer/logout}" method="post">
            <a ><button type="submit" class="btn4">LOGOUT</button></a>
        </form>

    </div>

    <div class="right2">
        <a th:href="@{/trainer/view_profile_trainer}"><button class="btn4"><i class='fas fa-user-alt' style='font-size:20px'></i>
        </button></a>

    </div>

    <div class="right3">
        <a th:href="@{/trainer/class_add}"><button class="btn4">Add Class</button></a>

    </div>

    <script>
        $(document).ready(function(){
            const div = document.getElementById("alert_wrapf");
            if (div.style.display === "" && div.textContent.includes("Successfully deleted class...")
                || div.textContent.includes("Class Added Successfully...")
                || div.textContent.includes("Successfully deleted booking...")
                || div.textContent.includes("Updated Successfully...")
                || div.textContent.includes("Delete Request Sent...")) {
                div.style.display = "block";
            }
            else if (div.textContent.includes("")) {
                div.style.display = "none";
            }
        });
    </script>
</header>

<div id="alert_wrapf" class="alert_wrapf" th:text="${message}"></div>

<section id="trainer trainer-class-section" class="fwh-slide">
    <h1 class="centerCla">MY CLASSES</h1>
    <div class="center">

        <h2>View Classes</h2>
        <br>
        <div>
            <div class="table-responsive-xl">
            <table id="trainer_classes_table" class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Class Name</th>
                    <th>Class Trainer</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>No. Of Spots Left</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="classes: ${listClasses}">
                    <td th:text="${classes.className}">Class Name</td>
                    <td th:text="${classes.trainerName}">Class Trainer</td>
                    <td th:text="${classes.description}">Description</td>
                    <td th:text="${classes.date}">Date</td>
                    <td th:text="${classes.startTime}">Start Time</td>
                    <td th:text="${classes.endTime}">End Time</td>
                    <td th:text="${classes.numberOfSpots}">No. Of Spots Left</td>
                    <td>
                        <button type="button" class="btn btn-danger" data-toggle="modal"  data-target="#modalDeleteClass" th:attrappend="data-target=${classes.id}">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>

            </div>

            <script src="https://code.jquery.com/jquery-3.5.1.js" ></script>
            <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" ></script>
            <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js" ></script>

            <script>

                $(document).ready(function () {
                    $('#trainer_classes_table').DataTable();
                });

            </script>

            <script>
                $(document).ready(function() {
                    $('modalDeleteClass').modal('show');
                    var userid = $(this).data('id');
                });
            </script>

            <div th:each="classes: ${listClasses}" th:attrappend="id=${classes.id}" class="modal fade" id="modalDeleteClass" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">

                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabelCancelClass">Delete Class?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/trainer/deleteClass}" >

                                <div hidden="hidden" class="form-group">
                                    <label for="idTrainer">Class ID</label>
                                    <input type="text" class="form-control" id="idTrainer" name="id" th:value="${classes.id}" readonly>
                                </div>

                                <div hidden="hidden" class="form-group">
                                    <label for="className">User ID</label>
                                    <input type="text" class="form-control" id="className" name="className" th:value="${classes.className}" readonly>
                                </div>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                                <button type="submit" class="btn btn-primary">Yes</button>
                            </form>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>


</section>

<section id="trainer bookclass-class-section" class="fwh-slide fwh-slide--bg-red">
    <div>
        <h1 class="centerCla">My Class Bookings</h1>
    </div>
    <div class="center">

        <div>
            <form th:action="@{/trainer/filter_search}"
                  method="post">
                <div class="filter_class_trainer">
                    <label class="input_search_1_" for="classNames">Class Name</label>
                    <input type="text" class="input_search_1" name="className" id="classNames" required/>
                </div>
                <button class="btn5" type="submit">Filter</button>
            </form>

            <form th:action="@{/trainer/refresh_table}"
                  class="refresh_table">
                <div>
                    <button type="submit" class="back_button" style='font-size:18px'><i class="fa fa-refresh"></i></button>
                </div>
            </form>

            <div class="table-responsive-xl">
            <table id="trainer_bookings_table" class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Class Name</th>
                    <th>Trainee Name</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book: ${listBookings}">
                    <td th:text="${book.className}">Class Name</td>
                    <td th:text="${book.traineeName}">Trainee Name</td>
                    <td th:text="${book.date}">Date</td>
                    <td th:text="${book.time}">Time</td>
                </tr>
                </tbody>
            </table>

            </div>

            <script src="https://code.jquery.com/jquery-3.5.1.js" ></script>
            <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" ></script>
            <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js" ></script>

            <script>

                $(document).ready(function () {
                    $('#trainer_bookings_table').DataTable({
                        searching: false,
                        "lengthChange": false
                    });
                });

            </script>
        </div>
    </div>
</section>
</body>
</html>